
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  flex-direction:column ;
  max-height:100 vh;
  height:100vh;
 /* color:white;*/

  display: flex;
  justify-content: center;
  align-items: center;
  overflow:scroll ;
  background: url("/static/img/comics03.jpg") no-repeat center center;
  background-size: cover;
}

h2{
color:orange;
text-shadow:0 0 5px black;
}
 .container {
  transform: scale(0.9);
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-botton:30px;
}
footer{
color:blue;
margin-top:100px;
}
label {
color:white;
text-shadow:0 0 5px black;
}
