<!DOCTYPE html>
<html lang="en">
<head>
  <title>meugato comicsplay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='dashboard.css')}}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!--<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav>-->

<!--<div class="container">-->
<!--    <div class=" row justify-content-center">-->
        <div class="col-sm-8">
            <h2>Meugato comicsplay &copy</h2>
            
            <p><b>Voce esta logado com: </b> {{user.email }}</p>
            <p><b>Bem vindo: </b> {{user.name }}</p>
            
         
          
<div class="grid-container">
<!--  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>  
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>  
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=K7DOT3HWyy63pjZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>-->
  
 <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/Q988u-PS1Xg?si=lYzvNTK9fvOLB2kV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/MyB2UL8FwpQ?si=-sRD257gg-sMWsFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/CS3q6ItelXs?si=BzuFm5sPyDk9y1Gj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/115aUmfutL8?si=zoYcaIYvmcm1Vs11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  <div class="grid-item"><iframe width="95%" height="115" src="https://www.youtube.com/embed/565RKZqAXBA?si=R_ii10TZ_apTC5zn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>  
</div>          

            <a href="/logout" class="btn btn-dark">Logout</a>
           <br></br>
           <a href="/painel" class="btn btn-dark">painel</a>
            
        </div>

   <!-- </div>-->
  
<!--</div>-->

</body>
</html>
